/* CSS RESET E GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  color: #263138;
}

h1,
h2 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 32px;
}

.paragrafo {
  line-height: 150%;
  margin-bottom: 32px;
}

/* HEADER CSS */

header {
  background-color: #ff9a6c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 80px;
}

header nav a {
  color: #ffffff;
  font-weight: 60;
  padding: 32px;
  text-decoration: none;
}

/* INICIO CSS */

#inicio {
  display: flex;
  align-items: center;
  gap: 32px;
  padding-top: 24px;
  padding-right: 80px;
  padding-bottom: 128px;
  padding-left: 80px;
  position: relative;
}

h1,
h2 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 32px;
}

.paragrafo {
  line-height: 150%;
  margin-bottom: 32px;
}
.botao {
  background-color: #ff725e;
  padding: 16px 32px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
}

.botao-transparente {
  background-color: transparent;
  color: #ff725e;
  padding: 16px 32px;
  text-underline-offset: 4px;
}

.botao-transparente:hover {
  color: #ff9a6c;
}

.absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
/* CLINICA CSS */

#clinica {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 64px 80px;
}

#clinica li {
  margin-bottom: 16px;
  margin-left: 32px;
}

/* FARMACIA CSS */

#farmacia {
  padding: 64px 80px;
  text-align: center;
}

#farmacia img {
  margin: 64px auto;
}

#farmacia .paragrafo {
  max-width: 950px;
  margin: 0 auto;
}

/* DUVIDAS CSS */

#duvidas {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 64px 80px;
}

.duvida {
  position: relative;
}

.duvida h3 {
  border: 2px solid #ff725e;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  padding: 24px;
}

.duvida img {
  position: absolute;
  top: 32px;
  right: 24px;
  cursor: pointer;
}

.duvida .paragrafo {
  border-right: 1px solid #ff725e;
  border-bottom: 1px solid #ff725e;
  border-left: 1px solid #ff725e;
  border-radius: 0 0 8px 8px;
  margin-top: -8px;
  padding: 0 24px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.2s;
}

.duvida.ativo .paragrafo {
  height: fit-content;
  opacity: 1;
  padding: 24px;
}

/* FOOTER CSS */

footer {
  background-color: rgba(255, 152, 108, 0.25);
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 64px 80px;
}

footer img,
footer .titulo {
  display: block;
  font-weight: 600;
  margin-bottom: 24px;
}

footer nav a {
  color: #263138;
  display: block;
  margin-bottom: 16px;
  text-decoration: none;
}

footer p {
  margin-bottom: 16px;
  max-width: 380px;
}

footer p a {
  color: #263138;
  text-decoration: none;
}

.copyright {
  background-color: #263138;
  text-align: center;
  padding: 24px;
  color: #ffffff;
}

.copyright a {
  color: #ff9a6c;
  text-decoration: none;
}
/* Por exemplo, para telas menores que 768px */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px; /* Ajustar o tamanho da fonte */
  }

  header {
    padding: 24px; /* Reduzir o padding do cabeçalho */
  }

  /* Ajustes para o cabeçalho */
  header nav a {
    padding: 16px; /* Reduzir o espaçamento dos links no cabeçalho */
  }

  /* Ajustes para a seção #inicio */
  #inicio {
    flex-direction: column; /* Alterar a direção dos elementos */
    padding: 64px 24px; /* Ajustar o padding */
  }

  #clinica {
    flex-direction: column; /* Alterar a direção dos elementos */
    padding: 64px 24px; /* Ajustar o padding */
  }

  /* Ajustes para a seção #clinica */
  #farmacia {
    flex-direction: column; /* Alterar a direção dos elementos */
    padding: 64px 24px; /* Ajustar o padding */
  }
  #duvidas {
    flex-direction: column; /* Alterar a direção dos elementos */
    padding: 44px 24px; /* Ajustar o padding */
  }
  footer {
    flex-direction: column; /* Alterar a direção dos elementos */
    padding: 64px 24px; /* Ajustar o padding */
  }

  .button-inicio {
    display: flex;
    flex-direction: column; /* Alterar a direção dos elementos */
    padding: 64px 24px; /* Ajustar o padding */
  }

  /* Ajustes para as imagens principais */
  .img-principais {
    width: 100%; /* Definir a largura da imagem como 100% da largura do contêiner pai */
    height: auto; /* Permitir que a altura se ajuste automaticamente mantendo a proporção */
    max-width: 100%; /* Garantir que a imagem não ultrapasse a largura do contêiner */
    margin: 0; /* Remover margens, se necessário */
  }

  .seta {
    width: 10%;
  }
  .logo {
    width: 60%;
  }

  .logo-nav {
    width: 200%;
  }

  header a {
    display: flex;
    flex-direction: row;
  }

  /* menu hamburguer*****************************************************************/
  header {
    position: fixed; /* Importante para manter o contexto de posicionamento */
    padding: 24px;
    position: sticky;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Adicione um índice Z para que a barra de navegação fique acima dos cards */
  }
  header a {
    display: flex;
    flex-direction: row;
  }

  #menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 15px;
    right: 30px;
    height: 40px;
    width: 70px;
    line-height: 70px;
    font-size: 30px;
    cursor: pointer;
    background: #ff9a6c;
    color: #ffffff;
    text-align: center;
    z-index: 1000;
  }

  #menu-btn.fa-times {
    position: fixed;
    margin-top: 20px;
    transform: rotate(180deg);
    background: #000;

    width: 40px;
    align-items: center;
    border-radius: 40px;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 50%;
    width: 100%;
    background: #ff9a6c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 50px;
    clip-path: circle(0% at 95.3% 8.5%);
  }

  .navbar.active {
    clip-path: circle(140% at 95.3% 8.5%);
    margin-top: 0; /* Remova ou ajuste conforme necessário */
    height: 55vh; /* Define a altura para cobrir a tela inteira */
  }
  .navbar a {
    margin-top: 0px;
    font-size: 25px;
    padding-bottom: 30px;
    color: #000;
  }

  .navbar a::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: #000;
    pointer-events: none;
    font-weight: bolder;
    letter-spacing: 0.4em;
    opacity: 0;
    z-index: -1;
    align-items: center;
  }

  .navbar a:hover::before {
    letter-spacing: 0em;
    opacity: 0.1;
    transition: 0.3s ease-out;
  }
}
@media screen and (min-width: 545px) {
  #menu-btn {
    display: none;
  }
}
